      <div class="footer">
        <br><br>
        <a href="https://github.com/regexghost/personal-website">source</a> ~ 
        <a href="https://www.regexghost.com/about#license">license</a> ~ 
        <a href="https://www.regexghost.com/sitemap">sitemap</a> ~ 
        <a href="https://github.com/regexghost/personal-website/issues">complaints/corrections</a> ~ 
        <a href="https://www.regexghost.com/blog.xml">rss (blog)</a> ~ 
        <a href="https://www.regexghost.com/devlog.xml">rss (devlog)</a>
      </div>
    </div>
  </div>
</body>
