<!DOCTYPE html>
<html lang="en">
<head>
{{ if index .Page.Meta "description"  }}
  <meta name="description" content="{{ index .Page.Meta "description" }}">
{{ end }}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{ .Page.Title }}</title>
  <link rel="stylesheet" href="/style.css">
</head>
{{template "top.html"}}
    <h1>{{ .Title }}</h1>
{{ .Content }}
  {{ range .Posts }}
  {{ if HasPrefix .Filepath "content/devlog/" }}
    <h2>{{ .Title }}</h2>
    {{ Content . }}
  {{ end }}
  {{ end }}
{{template "bottom.html"}}
