	<link rel="stylesheet" href = "/style.css">
	
</head>
<body>
<div class="header">
<div class="root-link">
<a href="https://www.regexghost.com">regexghost.com</a><br>
</div>
<div class="header-left">
<a href="https://www.regexghost.com/linux">Linux</a>
<a href="https://www.regexghost.com/coding">Coding</a>
<a href="https://git.regexghost.com">Git</a>
<a href="https://blog.regexghost.com">Blog</a>
<a href="https://www.regexghost.com/coding/devlog">Devlog</a>
<a href="https://photo.regexghost.com">Photos</a>
<a href="https://www.regexghost.com/categories">Other</a>
</div>
<div class="header-right">
<a href="https://github.com/regexghost"><img src="/images/github.svg" alt="GitHub logo" style="width:26px;height:26px;"></a> 
<a href="https://codeberg.org/regexghost"><img src="/images/codeberg.svg" alt="Codeberg logo" style="width:26px;height:26px;"></a> 
<a href="https://bsky.app/profile/regexghost"><img src="/images/bluesky.svg" alt="Bluesky logo" style="width:26px;height:26px;"></a> 
<a href="https://www.regexghost.com/about#contact"><img src="/images/email.svg" alt="email logo" style="width:26px;height:26px;"></a>
<!-- https://icon-sets.iconify.design/material-icon-theme/ -->
</div>
</div>
