<body>
  <div class="header">
    <div class="header-left">
      <a href="https://www.regexghost.com">regexghost.com</a>    ---   
    </div>
    <div class="header-right">
      <a href="https://github.com/regexghost"><img src="/images/github.svg" alt="GitHub logo" style="width:26px;height:26px;"></a>
      <a href="https://codeberg.org/regexghost"><img src="/images/codeberg.svg" alt="Codeberg logo" style="width:26px;height:26px;"></a>
      <a href="https://bsky.app/profile/regexghost.bsky.social"><img src="/images/bluesky.svg" alt="Bluesky logo" style="width:26px;height:26px;"></a>
      <a href="https://www.regexghost.com/about#contact"><img src="/images/email.svg" alt="email logo" style="width:26px;height:26px;"></a>
      <!-- https://icon-sets.iconify.design/material-icon-theme/ -->
    </div>
  </div>
  <div class="main-area">
    <div class="sidebar">
      <a href="https://www.regexghost.com/linux">Linux</a><br>
      <a href="https://www.regexghost.com/coding">Coding</a><br>
      <a href="https://git.regexghost.com">Git</a><br>
      <a href="https://www.regexghost.com/blog">Blog</a><br>
      <a href="https://www.regexghost.com/devlog">Devlog</a><br>
      <a href="https://www.regexghost.com/photo">Photos</a><br>
      <a href="https://www.regexghost.com/other">Other</a><br>
    </div>
    <div class="content">
