body {
 	background-color: #1e1e2e;
	color: #cdd6f4;
	max-width: 1000px;
	margin: auto;
}

a {
	color: #94e2d5;
}

div.sidebar a {
	font-size: 25px;
	text-decoration: none;
}	

h1, h2, h3, h4, h5, h6 {
}

h1, h1 a {
	margin: 0px;
	color: #f38ba8;
}

h2, h2 a {
	color: #f9e2af;
}

h3, h3 a {
	color: #a6e3a1;
}

h4, h4 a {
	color: #94e2d5;
}

h5, h5 a {
	color: #f5c2e7;
}

h6, h6 a {
	color: #89b4fa;
}

b {
	color: #f5c2e7;
}

i {
	color: #a6e3a1;
}

code {
	color: #94e2d5;
	font-family: monospace;
}

ul ::marker {
	color: #f9e2af;
}

div.main-area {
	display: table;
	overflow: hidden;
	width: 100%;
}

div.sidebar {
	width: 100px;
	display: table-cell;
	float: left;
	margin: 12px 12px 12px 12px;
	padding: 8px 8px 10px 18px;
	background-color: #313244;
	border-style: outset;
	border-width: 5px;
	border-top-color: #585b70;
	border-left-color: #585b70;
	border-right-color: #585b70;
	border-bottom-color: #585b70;
}

div.content {
	display: block;
	margin: 12px 12px 12px 12px;
	padding: 14px 8px 12px 20px;
	background-color: #313244;
	overflow: hidden;
	border-style: outset;
	border-width: 5px;
	border-top-color: #585b70;
	border-left-color: #585b70;
	border-right-color: #585b70;
	border-bottom-color: #585b70;

}

div.header  {
	height: 40px;
	font-size: 30px;
}

div.header-left {
	text-align: left;
	float: left;
	margin: 12px 0px 0px 12px;
	padding: 8px 10px 6px 6px;
	background-color: #313244;
	height: 42px;
	border-style: outset;
	border-width: 5px;
	border-top-color: #585b70;
	border-left-color: #585b70;
	border-right-color: #585b70;
	border-bottom-color: #585b70;
}

div.header a {
	font-weight: bold;
	color: #cdd6f4;
	text-decoration: none;
}

div.header-right a {
/*	margin-left: 8px;*/
}

div.header-left a {
	color: #cdd6f4;
/*	margin-left: 6px;*/
}

div.header-right {
	text-align: right;
	float: right;
	margin: 12px 12px 0px 0px;
	padding: 6px 10px 6px 6px;
	background-color: #313244;
	height: 42px;
	border-style: outset;
	border-width: 5px;
	border-top-color: #585b70;
	border-left-color: #585b70;
	border-right-color: #585b70;
	border-bottom-color: #585b70;
}

div.header img {
	position: relative;
	top: 4px;
	margin: 0px 6px 0px 6px;
}

span.text-red {
	color: #f38ba8;
}

span.text-green {
	color: #a6e3a1;
}

span.text-yellow {
	color: #f9e2af;
}

span.text-blue {
	color: #89b4fa;
}

span.text-magenta {
	color: #f5c2e7;
}

span.text-cyan {
	color: #94e2d5;
}
